# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!skhd
!skhd/**/*
!yabai
!yabai/**/*
!sketchybar
!sketchybar/**/*
!desktop_bar
!desktop_bar/**/*
!sketchybar-2
!sketchybar-2/**/*
!sketchybar-3
!sketchybar-3/**/*
!start_sketchybar.sh
!start_sketchybar_2.sh
!start_sketchybar_3.sh
!zsh
!zsh/**/*
!wezterm
!wezterm/**/*
!.install.sh
!Default.bttpreset