# Ignore everything
*

# But not these files...
!README.md
!.gitignore
!sketchybar
!sketchybar/**/*
!borders
!borders/**/*
!desktop_bar
!desktop_bar/**/*
!sketchybar-2
!sketchybar-2/**/*
!sketchybar-3
!sketchybar-3/**/*
!zsh
!zsh/**/*
!ghostty
!ghostty/**/*
!vscode
!vscode/**/*
!wezterm
!wezterm/**/*
!starship
!starship.toml
!aerospace
!aerospace.toml
!.install.sh
!Default.bttpreset
!bm_cfg.plist

# Ignore all .DS_Store files
.DS_Store